<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sign</title>
</head>

<body>
<div align="center">

 					
					{% if st=="1" %}
					   <h2>Predicted Result</h2>
					   <br>
					   <img src="../static/trained/lg/{{lfile}}">
					   <br>
					  
			
					
					{% endif %}
					    <script>
						//Using setTimeout to execute a function after 5 seconds.
						setTimeout(function () {
						   //Redirect with JavaScript
						  window.location.href="/test_pro3";
						}, 5000);
						</script>  
					   

</div>
</body>
</html>
